{% extends "front_page.html" %}

{% load static %}

{% block content %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger ">
                <p style="text-align:center">{{ error|escape }}</p>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger ">
            <p style="text-align:center">{{ error|escape }}</p>
        </div>
    {% endfor %}
{% endif %}
  
{% include "box_top.html" with heading="Register" width="360px" textalign="left" %}

<form method="post" style =" margin: 0 5px;">
  {% csrf_token %}
  <div style="width:300px"> {{ form }} </div>
  <button type="submit" class="btn btn-success">Register</button>
</form> 

{% include "box_bottom.html" %}


  
{% endblock %}

  

  

