{% extends "base.html" %}

{% load static %}

{% block content %}



{% if msg != '' %}
	{{msg}}
	<br>
{% endif %}



	{% if page_title == "High Infiltration" %}
		Faction info:<br> 
		<div style="  margin-left: auto;   margin-right: auto;">
		<table width="100%">
		<tr><td><b>Resources</b></td></tr>
		<tr><td>energy: {{target_player.energy}}</td></tr>
		<tr><td>minerals: {{target_player.minerals}}</td></tr>
		<tr><td>crystals: {{target_player.crystals}}</td></tr>
		<tr><td>ectrolium: {{target_player.ectrolium}}</td></tr>
		<tr><td></td></tr>
		<tr><td><b>Buildings</b></td></tr>
		<tr><td>total solar collectors: {{target_player.total_solar_collectors}}</td></tr>
		<tr><td>total fission reactors: {{target_player.total_fission_reactors}}</td></tr>
		<tr><td>total mineral plants: {{target_player.total_mineral_plants}}</td></tr>
		<tr><td>total crystal labs: {{target_player.total_crystal_labs}}</td></tr>
		<tr><td>total refinement stations: {{target_player.total_refinement_stations}}</td></tr>
		<tr><td>total cities: {{target_player.total_cities}}</td></tr>
		<tr><td>total research centers: {{target_player.total_research_centers}}</td></tr>
		<tr><td>total defense sats: {{target_player.total_defense_sats}}</td></tr>
		<tr><td>total shield networks: {{target_player.total_shield_networks}}</td></tr>
		<tr><td></td></tr>
		<tr><td><b>Research</b></td></tr>
		<tr><td>research percent military: {{target_player.research_percent_military}}%</td></tr>
		<tr><td>research percent construction: {{target_player.research_percent_construction}}%</td></tr>
		<tr><td>research percent tech: {{target_player.research_percent_tech}}%</td></tr>
		<tr><td>research percent energy: {{target_player.research_percent_energy}}%</td></tr>
		<tr><td>research percent population: {{target_player.research_percent_population}}%</td></tr>
		<tr><td>research percent culture: {{target_player.research_percent_culture}}%</td></tr>
		<tr><td>research percent operations: {{target_player.research_percent_operations}}%</td></tr>
		<tr><td>research percent portals: {{target_player.research_percent_portals}}%</td></tr>
		</table>
		</div>
		<br>
	
		{% if planets is not None %}
		Planets:
			<div class= "center">
			<table width="100%">
			<tr>
			<td width="15%"><a href="?order_by=planet">Planet</a></td>
			<td width="10%"><a href="?order_by=-size">Size</a> -
			<td width="20%"><a href="?order_by=total_buildings">Buildings</a> - <a href="?order_by=overbuilt">Overbuilding</a></td>
			<td width="25%"><a href="?order_by=current_population">Population</a></td>
			<td width="28%"><a href="?order_by=protection">Protection</a></td>
			<td width="2%"></td>
			</tr>

			{% for planet in planets %}
			<tr>

			<td><a href="/planet{{planet.id}}">{{planet.x}},{{planet.y}}:{{planet.i}}
			</a></td>
			<td>{{planet.size}}</td>
			<td>{{planet.total_buildings}}

			{% if planet.buildings_under_construction > 0 %}
			({{planet.buildings_under_construction}})
			{% endif %}

			{% if planet.overbuilt > 1.0 %}
			<font color="#FF2020">
			+{{ planet.overbuilt_percent|floatformat:2 }}%
			</font></td>
			{% endif %}

			<td><font color="#FFFF66">{{planet.current_population}} / {{planet.max_population}}</font></td>
			<td>
			{% if planet.portal %}
			&nbsp;&nbsp;<img src="/static/buildings/Portal.png" width=16px height=16px>&nbsp;<font color="#00FF00">{{planet.protection}}%</font>
			{% else %}
				{% if planet.protection >= 70 %}
				&nbsp;&nbsp;<font color="#00FF00">{{planet.protection}}%</font>
				{% elif planet.protection >= 40 %}
				&nbsp;&nbsp;<font color="#FFFF00">{{planet.protection}}%</font>
				{% else %}
				&nbsp;&nbsp;<font color="#FF0000">{{planet.protection}}%</font>
				{% endif %}
			{% endif %}

			{% if planet.artefact is not None %}
				<img src="{{planet.artefact.image}}" alt="{{planet.artefact.name}}" title="Artefact"></td>
			{% else %}

			{% if planet.bonus_solar %}
			<img src="{% static 'pr0.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_solar}}%</td>
			{% endif %}

			{% if planet.bonus_mineral %}
			<img src="{% static 'pr1.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_mineral}}%</td>
			{% endif %}

			{% if planet.bonus_crystal %}
			<img src="{% static 'pr2.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_crystal}}%</td>
			{% endif %}

			{% if planet.bonus_ectrolium %}
			<img src="{% static 'pr3.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_ectrolium}}%</td>
			{% endif %}

			{% endif %}

			<td></td>
			</tr>

			{% endfor %}
			<tr><td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			</table>
			</div>
		{% else %}
		No information was gathered about planets.
		{% endif %}
		
		{% if fleets is not None %}
		Fleets:
	<div class="center"> 
			<table width="100%">
			<tr>
			<td>
				Type:
			</td>
			<td>
				Units:
			</td>
			<td>
				Order:
			</td>
			<td>
				Current position:
			</td>
			<td>
				Destination:
			</td>
			
			{% for fleet in fleets %}
			<tr>
			<td>
				{% if fleet.main_fleet == True %}
				Main fleet
				{% endif %}
			</td>
			
			<td>
			{% if fleet.bomber > 0 %}
				Bombers: {{fleet.bomber}}<br>
			{% endif %}
			{% if fleet.fighter > 0 %}
				Fighters: {{fleet.fighter}}<br>
			{% endif %}
			{% if fleet.transport > 0 %}
				Transports: {{fleet.transport}}<br>
			{% endif %}
			{% if fleet.cruiser > 0 %}
				Cruisers: {{fleet.cruiser}}<br>
			{% endif %}
			{% if fleet.carrier > 0 %}
				Carriers: {{fleet.carrier}}<br>
			{% endif %}
			{% if fleet.soldier > 0 %}
				Soldiers: {{fleet.soldier}}<br>
			{% endif %}
			{% if fleet.droid > 0 %}
				Droids: {{fleet.droid }}<br>
			{% endif %}
			{% if fleet.goliath > 0 %}
				Goliaths: {{fleet.goliath}}<br>
			{% endif %}
			{% if fleet.phantom > 0 %}
				Phantoms: {{fleet.phantom}}<br>
			{% endif %}
			{% if fleet.wizard > 0 %}
				Psychics: {{fleet.wizard}}<br>
			{% endif %}
			{% if fleet.agent > 0 %}
				Agents: {{fleet.agent}}<br>
			{% endif %}
			{% if fleet.ghost > 0 %}
				Ghost Ships: {{fleet.ghost}}<br>
			{% endif %}
			{% if fleet.exploration > 0 %}
				Exploration Ships: {{fleet.exploration}}<br>
			{% endif %}
			</td>
			
			<td>
			{% if fleet.main_fleet == False %}
				{% if fleet.command_order == 0 %}
				ATTACK PLANET
				{% elif  fleet.command_order == 1 %}
				STATION ON PLANET
				{% elif  fleet.command_order == 2 %}
				MOVE TO SYSTEM
				{% elif  fleet.command_order == 3 or fleet.command_order == 4%}
				MERGE IN SYSTEM
				{% elif  fleet.command_order == 5 %}
				JOIN MAIN FLEET
				{% elif  fleet.command_order == 6 %}
				PERFORM OPERATION - {{fleet.specop}}
				{% elif  fleet.command_order == 7 %}
				PERFORM INCANTATION  - {{fleet.specop}}
				{% elif  fleet.command_order == 7 %}
				STATIONED on {{fleet.on_planet.x}}:{{fleet.on_planet.y}},{{fleet.on_planet.i}}
				{% elif  fleet.command_order == 10 %}
				EXPLORE PLANET
				{% endif %}
			{% endif %}
			</td>
			
			<td>
			{% if fleet.main_fleet == False %}
				{{fleet.current_position_x}}:{{fleet.current_position_y}}
			{% endif %}
			</td>
			
			<td>
			{% if fleet.main_fleet == False %}
				{{fleet.x}}:{{fleet.y}},{{fleet.i}}
			{% endif %}
			</td>
			
			
			</tr>
			{% endfor %}
			</table>
			<br>
		{% else %}
		No information was gathered about fleets.
		{% endif %}
	</div>
		
<div style="width:100%;">		
	{% else %}
		{{specop_info|linebreaksbr }}
	{% endif %}
</div>

{% endblock %}