{% extends "base.html" %}

{% load static %}

{% block content %}

{% if msg is not None %}
{{msg}}
{% endif %}



Account ID: {{player.user.id}}
<br>
Faction name : {{player.user_name}}
<br>
Faction race : {{player.get_race_display}}
<br>
Faction empire : {{player.empire.name_with_id}}
<br>
Tag points : {{player.tag_points}}
<br>

{% if player.user.id == status.user.id %}
User name : {{player.user}}
<br>
User e-mail : {{player.user.email}}
<br>

<a href="/password">Change Password</a>

<form action="" method="POST">
{% csrf_token %}
<input type="submit" name = "Rejoin" value="Rejoin"></form>
</form>

{% endif %}


{% endblock %}

