{% block content %}


<div class="display_box_wrapper " style =" margin: 10px auto; width:{{width}}; min-width:{{minwidth}} ">
	<div class="display_box" >
		<div class="display_box_header">
			<div class="display_box_header_left"></div>
			<div class="display_box_header_center">
				<div class="display_box_header_center_content" style="padding-left:31px;">{{heading}}</div>
			</div>
			<div class="display_box_header_right"></div>
		</div>
		<div class="display_box_content"  >
			<div class="display_box_content_left"></div>
			<div class="display_box_content_center" style="text-align:{{textalign}};"  >



{% endblock %}
