{% extends "base.html" %}

{% load django_tables2 %}

{% load static %}

{% block content %}

<br>
<table style="width:100%">
<tr>

<td><u>Artefacts</u></td>
<td><u>Empire name</u></td>
<td><u>Planet number</u></td>
<td><u>Players</u></td>
<td><u>Networth</u></td>

</tr>
{% for empire, values in table.items %}
<tr>
<td>
{% if values.artefacts is not None %}
	{% for a in values.artefacts %}
	<img src="{{a}}" title="Artefact">
	{% endfor %}
{% endif %}
</td>

<td><a href = "/empire{{values.empire_id}}" >{{empire}}</a></td> 
<td>{{values.planets}}</td>  
<td>{{values.numplayers}}</td> 
<td>{{values.nw}}</td> 
</tr>
{% endfor %}
</table>

<br>
Artefacts found:<br>
{% for arti in artefacts_found %}
<img src="{{arti.image}}" alt="{{arti.name}}" title="Artefact"></td> 
{{arti.name}} -  {{ arti.description }}<br>
{% endfor %}
{% endblock %}

