{% extends "base.html" %}

{% load django_tables2 %}

{% load static %}

{% block content %}

<br>
<table style="width:100%">
<tr>
<td></td>
<td>Name</td>
<td>Planet number</td>
<td>Players</td>
<td>Networth</td>
</tr>
{% for empire, values in table.items %}
<tr>
<td>
{% if values.artefacts is not None %}
	{% for a in values.artefacts %}
	<img src="{{a}}" title="Artefact">
	{% endfor %}
{% endif %}
</td>

<td>{{empire}}</td> 
<td>{{values.planets}}</td>  
<td>{{values.numplayers}}</td> 
<td>{{values.nw}}</td> 
</tr>
{% endfor %}
</table>

<br>
Artefacts found:<br>
{% for arti in artefacts_found %}
<img src="{{arti.image}}" alt="{{arti.name}}" title="Artefact"></td> 
{{arti.name}} -  {{ arti.description }}<br>
{% endfor %}
{% endblock %}

