{% extends "base.html" %}

{% load static %}
{% load mathfilters %}

{% block content %}

<style>
.news_parent_container{
	width:100%;
	float:left;
	margin: 5px auto;
}

.left_news{
	width: 10%;
	min-width: 55px;
	float:left;
}

.right_news{
	width: 90%;
	float:left;
	text-align: left;
}

@media all and (max-width: 660px) {
	.left_news{
		width: 100%;
		margin: 0 auto;
	}
	right_news{
		width: 100%;
		text-align: center !important;
	}
}

@media all and (min-width: 661px) {

	.left_news{
		width: 10%;
		margin: 0 auto;
	}
	
	right_news{
		width: 90%;
		text-align: left !important;
	}
}

</style>

<br>

	{% for n in news %}	
		{% if n.news_type == 'SE' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/successfull_exploration.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				An exploration ship of {{n.user1.userstatus.user_name}} reached the <a href="/planet{{n.planet.id}}">
				planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}</a> and established a colony.</div>
			</div>
		{% endif %}
		{% if n.news_type == 'UE' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/uncessessfull_exploration.png' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				An exploration ship of {{n.user1.userstatus.user_name}} reached the <a href="/planet{{n.planet.id}}">
				planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}</a> but the planet was already habited.</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RWD' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/war_declared.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your empire has declared war on empire {{n.empire2.number}}!
				{% else %}
					Empire {{n.empire1.number}} declared war on your empire!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RNP' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/nap_offered.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your empire has offered a {{n.extra_info}} non-aggression pact to empire {{n.empire2.number}}!
				{% else %}
					Empire {{n.empire1.number}} has offered a {{n.extra_info}} non-aggression pact!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RAP' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/ally_offered.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your empire has offered an alliance to empire {{n.empire2.number}}!
				{% else %}
					Empire {{n.empire1.number}} has offered an alliance!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RWE' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/war_undeclared.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your war with {{n.empire2.number}} has ended!
				{% else %}
					Your war with {{n.empire1.number}} has ended!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RAE' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/ally_cancelled.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your empire cancelled an alliance with empire {{n.empire2.number}}!
				{% else %}
					Empire {{n.empire1.number}} cancelled an alliance with your empire!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RNE' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/nap_cancelled.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your empire cancelled a non-aggression pact with empire{{n.empire2.number}}!
				{% else %}
					Empire {{n.empire1.number}} cancelled a non-aggression pact with your empire!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RAD' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/ally_made.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your empire has made an alliance with empire {{n.empire2.number}}!
				{% else %}
					Your empire has made an alliance with empire {{n.empire1.number}}!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RND' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/nap_made.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if current_empire == n.empire1 %}
					Your empire has made a {{n.extra_info}} non-aggression pact with empire {{n.empire2.number}}!
				{% else %}
					Your empire has made a {{n.extra_info}} non-aggression pact with empire {{n.empire1.number}}!
				{% endif %}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'SI' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/aid_sent.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{{n.user1.userstatus.user_name}} has sent an aid shipment of {{n.extra_info}} to {{n.user2}}.
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'RA' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/aid_received.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{{n.user.userstatus.user_name1}} has requested an aid shipment of {{n.extra_info}} from {{n.user2}}.
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'PD' %}
			<div class="news_parent_container">
				{% if n.user1 == n.user2 %} 
				<div class="left_news"><img src="{% static '/news/outgoing_operation.gif' %}"></div>
				{% else %}
				<div class="left_news"><img src="{% static '/news/incoming_operation.png' %}"></div>
				{% endif %}
				
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{% if n.user1 == n.user2 %} 
					{{n.user1.userstatus.user_name}} has performed a {{ n.fleet1 }} spell on himself!
				{% else %}
					{{n.user1.userstatus.user_name}} was a target of {{ n.fleet1 }} spell
					{% if n.user1 == 0 %}
						performed by unknown faction!
					{% else %}
						performed by {{n.user2}}!
					{% endif %}
				{% endif %}
				<br>
				The results: {{n.extra_info}}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'PA' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/outgoing_operation.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{{n.user1.userstatus.user_name}}'s psychics have casted a {{ n.fleet1 }} spell on {{n.user2.userstatus.user_name}}!
				<br>
				The results: {{n.extra_info}}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'AA' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/outgoing_operation.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{{n.user1.userstatus.user_name}}'s agents have performed a {{ n.fleet1 }} operation on planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}
				{% if n.user2 is not None %}
				owned by {{n.user2.userstatus.user_name}}
				{% else %}
				currently uninhabited.
				{% endif %}
				<br>
				The results: {{n.extra_info}}
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'AD' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/outgoing_operation.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{{n.user1.userstatus.user_name}}'s agents have intercepted some enemy agents from
				{% if user2 in not None %}
				 n.user2.userstatus.user_name of n.empire2.name_with_id
				{% else %}
				an unknown faction 
				{% endif %}
				performing a {{ n.fleet1 }} operation
				on planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}
				<br>
				The results: {{n.extra_info}}
				</div>
			</div>	
		{% endif %}
		{% if n.news_type == 'SA' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/successfull_attack.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{{n.user1.userstatus.user_name}} attacked and took control of the n.planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}} 
				previously owned by {{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
				<br>
					<div class = "wrap_box">
						<div class = "left_news_battle">
						<u>Attacker losses:</u><br> {{n.fleet1|linebreaksbr}}
						</div>
						<div class = "right_news_battle">
						<u>Defender losses:</u><br>  {{n.fleet2|linebreaksbr}}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'UA' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/uncessessfull_attack.png' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				{{n.user1.userstatus.user_name}} attacked and failed to capture the {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}} 
				owned by {{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
				<br>
					<div class = "wrap_box">
						<div class = "left_news_battle">
						<u>Attacker losses:</u><br> {{n.fleet1|linebreaksbr}}
						</div>
						<div class = "right_news_battle">
						<u>Defender losses:</u><br>  {{n.fleet2|linebreaksbr}}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'SD' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/successfull_defence.gif' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				The planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}, owned by {{n.user1.userstatus.user_name}}, was unsuccessfully attacked by
				{{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
				<br>
					<div class = "wrap_box">
						<div class = "left_news_battle">
						<u>Attacker losses:</u><br> {{n.fleet2|linebreaksbr}}
						</div>
						<div class = "right_news_battle">
						<u>Defender losses:</u><br>  {{n.fleet1|linebreaksbr}}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if n.news_type == 'UD' %}
			<div class="news_parent_container">
				<div class="left_news"><img src="{% static '/news/uncessessfull_defence.png' %}"></div>
				<div class="right_news">
				<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
				The planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}, owned by {{n.user1.userstatus.user_name}}, was lost
				to {{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
				<br>
					<div class = "wrap_box">
						<div class = "left_news_battle">
						<u>Attacker losses:</u><br> {{n.fleet2|linebreaksbr}}
						</div>
						<div class = "right_news_battle">
						<u>Defender losses:</u><br>  {{n.fleet1|linebreaksbr}}
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	
	{% endfor %}

{% endblock %}