{% extends "base.html" %}

{% load static %}

{% block content %}
{% if status.empire.id == empire.id %}
<br>
<a href="/vote">Change your vote</a> - 
{% if status.empire_role == "PM" %}
<a href="/pm_options">Prime Minister Options</a>
{% endif %}
{% endif %}

{% if empire.empire_image  %}
<br>
<img src="/media/{{empire.empire_image}}"
     style="max-width:600px;width:100%,max-height:800px,height:100%"
     alt="empire{{empire.id}}_picture">
{% endif %}

<table style= "border-spacing: 10px; border-collapse: separate; margin-left: auto; margin-right: auto;" } >
<tr><td></td>
<td><b>Name</b></td>
<td>Race</td>
<td>Planets</td>
<td>Networth</td></tr>
{% for status in player_list %}
<tr>
<td>{{status.get_empire_role_display}}</td>
    <td><b>{{status.user}}</b></td>
<td>{{status.get_race_display}}</td>
<td>{{status.num_planets }}</td>
<td>{{status.networth}}</td>
{# status - online? #}
<br>
</tr>
{% endfor %}
</table>
<br>
<br>
{% if status.empire.id == empire.id %}
<table style= "border-spacing: 8px; border-collapse: separate; margin-left: auto; margin-right: auto;" } >

<tr>

<td>Empire fund:</td>
<td>{{empire.taxation}}</td>
</tr>
<tr>
<td>Energy: {{empire.fund_energy}}</td>
<td>Minerals: {{empire.fund_minerals}}</td>
</tr>
<tr>
<td>Crystals: {{empire.fund_crystals}}</td>
<td>Ectrolium: {{empire.fund_ectrolium}}</td>
</tr>
</table>
{% endif %}


{% endblock %}

