{% extends "base.html" %}

{% load static %}

{% block content %}
<a href="/vote">Change your vote</a> - 
<a href="/PMOptions">Prime Minister Options</a>

<table style= "border-spacing: 10px; border-collapse: separate;" } >
<tr><td></td>
<td><b>Name</b></td>
<td>Race</td>
<td>Planets</td>
<td>Networth</td></tr>
{% for status in player_list %}
<tr>
<td>{{status.get_empire_role_display}}</td>
    <td><b>{{status.user_name}}</b></td>
<td>{{status.get_race_display}}</td>
<td>{{status.num_planets }}</td>
<td>{{status.networth}}</td>
{# status - online? #}
<br>
</tr>
{% endfor %}
</table>
<br>
<br>
<table style= "border-spacing: 8px; border-collapse: separate;" } >
<tr>
<td>Empire fund:</td>
<td>{{empire.taxation}}</td>
</tr>
<tr>
<td>Energy: {{empire.fund_energy}}</td>
<td>Minerals: {{empire.fund_minerals}}</td>
</tr>
<tr>
<td>Crystals: {{empire.fund_crystals}}</td>
<td>Ectrolium: {{empire.fund_ectrolium}}</td>
</tr>
</table>


{% endblock %}

