{% extends "base.html" %}

{% block content %}




<div id="mapdiv" style="background-image:url(/static/background.gif)"></div>

<a href="?heatmap=True">Heatmap Test</a>

<script>
  const width = 100;
  const height = 100;
  const circle_radius = 0.2;

  const zoom = d3.zoom()
      .scaleExtent([20, 50]) // max zoom out, max zoom in
      .on("zoom", zoomed);

  const svg = d3.select("#mapdiv")
    .append("div")
    .append("svg")
    .style("height", '80vh')
    .style("width", '100%')
    .attr("preserveAspectRatio", "xMidYMin meet") // see here for a nice graphic https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio
    .attr("viewBox", [-10, -10, width+10, height+10]) // default view
    .on("click", reset); // zooms out when you click on not the background

  const g = svg.append("g");

  // Heatmap overlay
  {% if show_heatmap %}
    g.append("image")
      .attr("x", -0.5)
      .attr("y", -0.5)
      .attr('width', 100)
      .attr('height', 100)
      .attr('xlink:href','/static/heatmap.png')
      .style("opacity", 0.5)
  {% endif %}


{% for planet in planets %}

{% if planet.owner.id == status.user.id %}
g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p00.png")
    .attr("x", (({{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
    .attr("y", (({{planet.y}} + 0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
    .attr("width", .18) // changes in zoom
    .attr("height", .18) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

    g.append("text")
      .attr("x", {{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.1))
      .attr("font-family", "sans-serif")
      .attr("font-size", "0.05px")
      .attr("fill", "white")
      .attr("text-anchor", "middle") // horizontal centering
      .attr("allignment-baseline", "after-edge") // vertical centering
      .style("pointer-events", "none")
      .style("visibility", "hidden") // changes in zoom
      .text("This planet is yours");

{% elif planet.home_planet %}
g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p00.png")
    .attr("x", (({{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
    .attr("y", (({{planet.y}} + 0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
    .attr("width", .18) // changes in zoom
    .attr("height", .18) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

    g.append("text")
      .attr("x", {{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.1))
      .attr("font-family", "sans-serif")
      .attr("font-size", "0.05px")
      .attr("fill", "white")
      .attr("text-anchor", "middle") // horizontal centering
      .attr("allignment-baseline", "after-edge") // vertical centering
      .style("pointer-events", "none")
      .style("visibility", "hidden") // changes in zoom
      .text("Unavailable for Exploration");

  {% elif planet.owner == None %}
  g.append("a")
    .attr("xlink:href", "planet{{planet.id}}")
    .append("image")
      .attr("xlink:href", "/static/map/p00.png")
      .attr("x", (({{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
      .attr("y", (({{planet.y}} + 0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
      .attr("width", .18) // changes in zoom
      .attr("height", .18) // changes in zoom
      .append("title") // hover-over text
      .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

      g.append("text")
        .attr("x", {{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.1))
        .attr("font-family", "sans-serif")
        .attr("font-size", "0.05px")
        .attr("fill", "white")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("allignment-baseline", "after-edge") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text("Unexplored");

      {% elif planet.owner.id != status.user.id %}
      g.append("a")
        .attr("xlink:href", "planet{{planet.id}}")
        .append("image")
          .attr("xlink:href", "/static/map/p00.png")
          .attr("x", (({{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
          .attr("y", (({{planet.y}} + 0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.09))
          .attr("width", .18) // changes in zoom
          .attr("height", .18) // changes in zoom
          .append("title") // hover-over text
          .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

          g.append("text")
            .attr("x", {{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.1))
            .attr("font-family", "sans-serif")
            .attr("font-size", "0.05px")
            .attr("fill", "white")
            .attr("text-anchor", "middle") // horizontal centering
            .attr("allignment-baseline", "after-edge") // vertical centering
            .style("pointer-events", "none")
            .style("visibility", "hidden") // changes in zoom
            .text("{{planet.owner.userstatus.user_name}}");


      {% endif %}


  g.append("text")
    .attr("x", {{planet.x}} + 0.4*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
    .attr("y", {{planet.y}} + 0.4*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
    .attr("font-family", "sans-serif")
    .attr("font-size", "0.05px")
    .attr("fill", "white")
    .attr("text-anchor", "middle") // horizontal centering
    .attr("dominant-baseline", "central") // vertical centering
    .style("pointer-events", "none")
    .style("visibility", "hidden") // changes in zoom
    .text("{{planet.i}}");


{% endfor %}


{% for system in systems %}
  g.append("image")
    .attr("xlink:href", "/static/map/sun.png")
    .attr("x", ({{system.0}}-.15))
    .attr("y", ({{system.1}}-.15))
    .attr("width", .3) // changes in zoom
    .attr("height", .3) // changes in zoom
    .append("title") // hover-over text
    .text("{{system.0}},{{system.1}}");

  g.append("text")
    .attr("x", {{system.0}})
    .attr("y", ({{system.1}}))
    .attr("font-family", "sans-serif")
    .attr("font-size", "0.1px")
    .attr("fill", "black")
    .attr("text-anchor", "middle") // horizontal centering
    .attr("dominant-baseline", "central") // vertical centering
    .style("pointer-events", "none")
    .style("visibility", "hidden") // changes in zoom
    .text("{{system.0}},{{system.1}}");
{% endfor %}

/* Add coordinate numbers to top/bottom/sides */
for (let i = 0; i < width; i=i+5) {
    g.append("text")
        .attr("x", i)
        .attr("y", 0)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
    g.append("text")
        .attr("x", i)
        .attr("y", height)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
}
for (let i = 0; i < height; i=i+5) {
    g.append("text")
        .attr("x", 0)
        .attr("y", i)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
    g.append("text")
        .attr("x", width)
        .attr("y", i)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
}


 svg.call(zoom);

  function reset() {
    svg.transition().duration(750).call(
      zoom.transform,
      d3.zoomIdentity,
      d3.zoomTransform(svg.node()).invert([width / 2, height / 2])
    );
  }


  function clicked(d,i) {
    //const [[x0, y0], [x1, y1]] = path.bounds(d);
    console.log(d); // coming back as undefined for circles
    console.log(i); // come back as 0 for every circle
    d3.event.stopPropagation();
    svg.transition().duration(750).call(
      zoom.transform,
      d3.zoomIdentity
        .translate(width / 10, height / 10)
        .scale(Math.min(128, 0.9 / Math.max(width, height)))
        .translate(-width, -height),
      d3.mouse(svg.node())
    );
  }


  function zoomed() {
    const {transform} = d3.event;
    g.attr("transform", transform);
    g.attr("stroke-width", 1 / transform.k);
    if (transform.k > 2) {
        g.selectAll("circle")
          .style("visibility", "visible");
        g.selectAll("ellipse")
          .attr("x", width*1.5)
          .attr("y", height*1.5)
        g.selectAll("text")
          .style("visibility", "visible");
    } else {
        g.selectAll("circle")
          .style("visibility", "hidden");
        g.selectAll("ellipse")
          .attr("x", width*4)
          .attr("y", height*4)
        g.selectAll("text")
          .style("visibility", "hidden");
    }
  }



</script>


{% endblock %}
