{% extends "base.html" %}

{% block content %}

{% load mathfilters %}

<div id="mapdiv" style="background-image:url(/static/background.gif)"></div>

<script>
  const width = 100;
  const height = 100;
  const circle_radius = 1;

  const zoom = d3.zoom()
      .scaleExtent([.5, 200]) // max zoom out, max zoom in
      .on("zoom", zoomed);

  const svg = d3.select("#mapdiv")
    .append("div")
    .append("svg")
    .style("height", '80vh')
    .style("width", '100%')
    .attr("preserveAspectRatio", "xMidYMin meet") // see here for a nice graphic https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio
    .attr("viewBox", [-1, -1, width+1, height+1]) // default view

  const g = svg.append("g");

  // Heatmap overlay
  {% if show_heatmap %}
    g.append("image")
      .attr("x", -0.5)
      .attr("y", -0.5)
      .attr('width', 100)
      .attr('height', 100)
      .attr('xlink:href','/static/heatmap.png')
      .style("opacity", 0.5)
  {% endif %}

{% for planet in planets %}

{% for setting in settings %}
/* unexplored */
{% if setting.map_setting == "UE" and planet.owner == None %}

{% if planet.home_planet %}

{% else %}

  g.append("circle")
  {% if planet.id|mod:10 == 1 %}
    .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
    .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
    {% endif %}
  {% if planet.id|mod:10 == 2 %}
    .attr("cx", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
    .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
    {% endif %}
  {% if planet.id|mod:10 == 3 %}
      .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("cy", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
      {% endif %}
    {% if planet.id|mod:10 == 4 %}
      .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
      {% endif %}
    {% if planet.id|mod:10 == 5 %}
        .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% endif %}
      {% if planet.id|mod:10 == 6 %}
        .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% endif %}
      {% if planet.id|mod:10 == 7 %}
          .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 8 %}
          .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 9 %}
            .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
          {% if planet.id|mod:10 == 0 %}
      .attr("cx", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("cy", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
  {% endif %}
  .attr("r", circle_radius * 1)
  .style("fill", "{{ setting.get_color_settings_display }}")
  .style("opacity", 0.2)

{% endif %}

/* your planets */
  {% elif setting.map_setting == "YP" and planet.owner.id == status.user.id %}

      g.append("circle")
      {% if planet.id|mod:10 == 1 %}
        .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% endif %}
      {% if planet.id|mod:10 == 2 %}
        .attr("cx", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% endif %}
      {% if planet.id|mod:10 == 3 %}
          .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 4 %}
          .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 5 %}
            .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
          {% if planet.id|mod:10 == 6 %}
            .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
          {% if planet.id|mod:10 == 7 %}
              .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
              {% endif %}
            {% if planet.id|mod:10 == 8 %}
              .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
              {% endif %}
            {% if planet.id|mod:10 == 9 %}
                .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                {% endif %}
              {% if planet.id|mod:10 == 0 %}
          .attr("cx", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
      {% endif %}
      .attr("r", circle_radius * 1)
      .style("fill", "{{ setting.get_color_settings_display }}")
      .style("opacity", 0.2)

/*target empire*/
{% elif setting.map_setting == "PE" and planet.owner.userstatus.empire.id == setting.empire.id %}
    g.append("circle")
    {% if planet.id|mod:10 == 1 %}
      .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
      {% endif %}
    {% if planet.id|mod:10 == 2 %}
      .attr("cx", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
      {% endif %}
    {% if planet.id|mod:10 == 3 %}
        .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("cy", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% endif %}
      {% if planet.id|mod:10 == 4 %}
        .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% endif %}
      {% if planet.id|mod:10 == 5 %}
          .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 6 %}
          .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 7 %}
            .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
          {% if planet.id|mod:10 == 8 %}
            .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
          {% if planet.id|mod:10 == 9 %}
              .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
              {% endif %}
            {% if planet.id|mod:10 == 0 %}
        .attr("cx", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("cy", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
    {% endif %}
    .attr("r", circle_radius * 1)
    .style("fill", "{{ setting.get_color_settings_display }}")
    .style("opacity", 0.2)

/* target faction */
    {% elif setting.map_setting == "PF" and planet.owner.id == setting.faction.id %}

        g.append("circle")
        {% if planet.id|mod:10 == 1 %}
          .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 2 %}
          .attr("cx", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% endif %}
        {% if planet.id|mod:10 == 3 %}
            .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
          {% if planet.id|mod:10 == 4 %}
            .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
          {% if planet.id|mod:10 == 5 %}
              .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
              {% endif %}
            {% if planet.id|mod:10 == 6 %}
              .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
              {% endif %}
            {% if planet.id|mod:10 == 7 %}
                .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                {% endif %}
              {% if planet.id|mod:10 == 8 %}
                .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                {% endif %}
              {% if planet.id|mod:10 == 9 %}
                  .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                  .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                  {% endif %}
                {% if planet.id|mod:10 == 0 %}
            .attr("cx", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("cy", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% endif %}
        .attr("r", circle_radius * 1)
        .style("fill", "{{ setting.get_color_settings_display }}")
        .style("opacity", 0.2)

/* your empire */
        {% elif setting.map_setting == "YE" and planet.owner.userstatus.empire.id == status.empire.id %}

            g.append("circle")
            {% if planet.id|mod:10 == 1 %}
              .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
              {% endif %}
            {% if planet.id|mod:10 == 2 %}
              .attr("cx", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
              {% endif %}
            {% if planet.id|mod:10 == 3 %}
                .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("cy", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                {% endif %}
              {% if planet.id|mod:10 == 4 %}
                .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                {% endif %}
              {% if planet.id|mod:10 == 5 %}
                  .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                  .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                  {% endif %}
                {% if planet.id|mod:10 == 6 %}
                  .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                  .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                  {% endif %}
                {% if planet.id|mod:10 == 7 %}
                    .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                    .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                    {% endif %}
                  {% if planet.id|mod:10 == 8 %}
                    .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                    .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                    {% endif %}
                  {% if planet.id|mod:10 == 9 %}
                      .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                      .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                      {% endif %}
                    {% if planet.id|mod:10 == 0 %}
                .attr("cx", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("cy", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
            .attr("r", circle_radius * 1)
            .style("fill", "{{ setting.get_color_settings_display }}")
            .style("opacity", 0.2)



/* your portals */
            {% elif setting.map_setting == "YR" and planet.portal %}
              {% if planet.owner.id == status.user.id %}
                g.append("circle")
                {% if planet.id|mod:10 == 1 %}
                  .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                  .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                  {% endif %}
                {% if planet.id|mod:10 == 2 %}
                  .attr("cx", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                  .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                  {% endif %}
                {% if planet.id|mod:10 == 3 %}
                    .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                    .attr("cy", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                    {% endif %}
                  {% if planet.id|mod:10 == 4 %}
                    .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                    .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                    {% endif %}
                  {% if planet.id|mod:10 == 5 %}
                      .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                      .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                      {% endif %}
                    {% if planet.id|mod:10 == 6 %}
                      .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                      .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                      {% endif %}
                    {% if planet.id|mod:10 == 7 %}
                        .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                        .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                        {% endif %}
                      {% if planet.id|mod:10 == 8 %}
                        .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                        .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                        {% endif %}
                      {% if planet.id|mod:10 == 9 %}
                          .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                          .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                          {% endif %}
                        {% if planet.id|mod:10 == 0 %}
                    .attr("cx", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                    .attr("cy", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                {% endif %}
                .attr("r", circle_radius * 1)
                .style("fill", "{{ setting.get_color_settings_display }}")
                .style("opacity", 0.2)

                {% endif %}
              {% endif %}
     {% endfor %}
    {% endfor %}

    {% for planet in planets %}

    {% for setting in settings %}
              {% for scouting in scouted %}
                {% if setting.map_setting == "SC" and scouting.planet.id == planet.id %}
                    g.append("circle")
                    {% if planet.id|mod:10 == 1 %}
                      .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                      .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                      {% endif %}
                    {% if planet.id|mod:10 == 2 %}
                      .attr("cx", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                      .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                      {% endif %}
                    {% if planet.id|mod:10 == 3 %}
                        .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                        .attr("cy", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                        {% endif %}
                      {% if planet.id|mod:10 == 4 %}
                        .attr("cx", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                        .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                        {% endif %}
                      {% if planet.id|mod:10 == 5 %}
                          .attr("cx", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                          .attr("cy", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                          {% endif %}
                        {% if planet.id|mod:10 == 6 %}
                          .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                          .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                          {% endif %}
                        {% if planet.id|mod:10 == 7 %}
                            .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                            .attr("cy", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                            {% endif %}
                          {% if planet.id|mod:10 == 8 %}
                            .attr("cx", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                            .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                            {% endif %}
                          {% if planet.id|mod:10 == 9 %}
                              .attr("cx", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                              .attr("cy", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                              {% endif %}
                            {% if planet.id|mod:10 == 0 %}
                        .attr("cx", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                        .attr("cy", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
                    {% endif %}
                    .attr("r", circle_radius * 1.5)
                    .style("stroke", "{{ setting.get_color_settings_display }}")
                    .style("fill", "none")
                    .style("opacity", 0.2)
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}

         {% for planet in planets %}

         {% if planet.id|mod:10 == 1 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p00.png")
    .attr("x", (({{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.01))
    .attr("y", (({{planet.y}} + 0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.01))
    .attr("width", .02) // changes in zoom
    .attr("height", .02) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");


{% elif planet.id|mod:10 == 2 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p11.png")
    .attr("x", (({{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.0175))
    .attr("y", (({{planet.y}} + 0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.0175))
    .attr("width", .035) // changes in zoom
    .attr("height", .035) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 3 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p01.png")
    .attr("x", (({{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.008))
    .attr("y", (({{planet.y}} + 0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.008))
    .attr("width", .016) // changes in zoom
    .attr("height", .016) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 4 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p10.png")
    .attr("x", (({{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.012))
    .attr("y", (({{planet.y}} + 0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.012))
    .attr("width", .024) // changes in zoom
    .attr("height", .024) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 5 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p03.png")
    .attr("x", (({{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.009))
    .attr("y", (({{planet.y}} + 0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.009))
    .attr("width", .018) // changes in zoom
    .attr("height", .018) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 6 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p04.png")
    .attr("x", (({{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.011))
    .attr("y", (({{planet.y}} + 0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.011))
    .attr("width", .022) // changes in zoom
    .attr("height", .022) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 7 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p05.png")
    .attr("x", (({{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.018))
    .attr("y", (({{planet.y}} + 0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.018))
    .attr("width", .036) // changes in zoom
    .attr("height", .036) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 8 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p06.png")
    .attr("x", (({{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.009))
    .attr("y", (({{planet.y}} + 0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.009))
    .attr("width", .018) // changes in zoom
    .attr("height", .018) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 9 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p07.png")
    .attr("x", (({{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.012))
    .attr("y", (({{planet.y}} + 0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.012))
    .attr("width", .024) // changes in zoom
    .attr("height", .024) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% elif planet.id|mod:10 == 0 %}

g.append("a")
  .attr("xlink:href", "planet{{planet.id}}")
  .append("image")
    .attr("xlink:href", "/static/map/p08.png")
    .attr("x", (({{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.015))
    .attr("y", (({{planet.y}} + 0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))-.015))
    .attr("width", .03) // changes in zoom
    .attr("height", .03) // changes in zoom
    .append("title") // hover-over text
    .text("{{planet.x}},{{planet.y}}:{{planet.i}}");

{% endif %}

{% if planet.owner.id == status.user.id %}

    g.append("text")
    {% if planet.id|mod:10 == 1 %}
      .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
    {% elif planet.id|mod:10 == 2 %}
      .attr("x", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
      {% elif planet.id|mod:10 == 3 %}
        .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
      {% elif planet.id|mod:10 == 4 %}
        .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 5 %}
          .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 6 %}
          .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 7 %}
            .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 8 %}
            .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
            {% elif planet.id|mod:10 == 9 %}
              .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
      {% else %}
        .attr("x", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
    {% endif %}
      .attr("font-family", "sans-serif")
      .attr("font-size", "0.01px")
      .attr("fill", "white")
      .attr("text-anchor", "middle") // horizontal centering
      .attr("allignment-baseline", "after-edge") // vertical centering
      .style("pointer-events", "none")
      .style("visibility", "hidden") // changes in zoom
      .text("This planet is yours");

{% elif planet.home_planet %}


    g.append("text")
    {% if planet.id|mod:10 == 1 %}
      .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
    {% elif planet.id|mod:10 == 2 %}
      .attr("x", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
      {% elif planet.id|mod:10 == 3 %}
        .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
      {% elif planet.id|mod:10 == 4 %}
        .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 5 %}
          .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 6 %}
          .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 7 %}
            .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 8 %}
            .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
            {% elif planet.id|mod:10 == 9 %}
              .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
              {% else %}
                .attr("x", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("y", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
              {% endif %}
              .attr("font-family", "sans-serif")
              .attr("font-size", "0.01px")
              .attr("fill", "white")
              .attr("text-anchor", "middle") // horizontal centering
              .attr("allignment-baseline", "after-edge") // vertical centering
              .style("pointer-events", "none")
              .style("visibility", "hidden") // changes in zoom
              {% if planet.owner == None %}
              .text("Unavailable for Exploration");
              {% else %}
              .text("{{planet.owner.userstatus.user_name}}");
              {% endif %}

  {% elif planet.owner == None %}
      g.append("text")
      {% if planet.id|mod:10 == 1 %}
        .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
      {% elif planet.id|mod:10 == 2 %}
        .attr("x", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 3 %}
          .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 4 %}
          .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 5 %}
            .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 6 %}
            .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
            {% elif planet.id|mod:10 == 7 %}
              .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
            {% elif planet.id|mod:10 == 8 %}
              .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
              {% elif planet.id|mod:10 == 9 %}
                .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% else %}
          .attr("x", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
                {% endif %}
        .attr("font-family", "sans-serif")
        .attr("font-size", "0.01px")
        .attr("fill", "white")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("allignment-baseline", "after-edge") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text("Unexplored");


      {% elif planet.owner.id != status.user.id %}
          g.append("text")
      {% if planet.id|mod:10 == 1 %}
        .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
      {% elif planet.id|mod:10 == 2 %}
        .attr("x", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 3 %}
          .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% elif planet.id|mod:10 == 4 %}
          .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 5 %}
            .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
          {% elif planet.id|mod:10 == 6 %}
            .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
            {% elif planet.id|mod:10 == 7 %}
              .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
            {% elif planet.id|mod:10 == 8 %}
              .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
              .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
              {% elif planet.id|mod:10 == 9 %}
                .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
                .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
        {% else %}
          .attr("x", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})+.02))
                {% endif %}
            .attr("font-family", "sans-serif")
            .attr("font-size", "0.015px")
            .attr("fill", "white")
            .attr("text-anchor", "middle") // horizontal centering
            .attr("allignment-baseline", "after-edge") // vertical centering
            .style("pointer-events", "none")
            .style("visibility", "hidden") // changes in zoom
            .text("{{planet.owner.userstatus.user_name}}");


      {% endif %}


  g.append("text")
  {% if planet.id|mod:10 == 1 %}
    .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
    .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
  {% elif planet.id|mod:10 == 2 %}
    .attr("x", {{planet.x}} + 0.35*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
    .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
    {% elif planet.id|mod:10 == 3 %}
      .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.55*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
    {% elif planet.id|mod:10 == 4 %}
      .attr("x", {{planet.x}} + 0.55*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
      {% elif planet.id|mod:10 == 5 %}
        .attr("x", {{planet.x}} + 0.25*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.35*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
      {% elif planet.id|mod:10 == 6 %}
        .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
        .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% elif planet.id|mod:10 == 7 %}
          .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.25*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
        {% elif planet.id|mod:10 == 8 %}
          .attr("x", {{planet.x}} + 0.15*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
          .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
          {% elif planet.id|mod:10 == 9 %}
            .attr("x", {{planet.x}} + 0.45*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
            .attr("y", {{planet.y}} + (0.15*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
    {% else %}
      .attr("x", {{planet.x}} + 0.65*Math.sin(-1.57-2*3.14*0.125*{{planet.pos_in_system}}))
      .attr("y", {{planet.y}} + (0.65*Math.cos(-1.57-2*3.14*0.125*{{planet.pos_in_system}})))
            {% endif %}
    .attr("font-family", "sans-serif")
    .attr("font-size", "0.015px")
    .attr("fill", "white")
    .attr("text-anchor", "middle") // horizontal centering
    .attr("dominant-baseline", "central") // vertical centering
    .style("pointer-events", "none")
    .style("visibility", "hidden") // changes in zoom
    .text("{{planet.i}}");


{% endfor %}


{% for system in systems %}

{% if system.0|addition:system.1|mod:10 == 1 %}

  g.append("image")
    .attr("xlink:href", "/static/map/s1.png")
    .attr("x", ({{system.0}}-.1))
    .attr("y", ({{system.1}}-.1))
    .attr("width", .2)
    .attr("height", .2)
    .append("title") // hover-over text
    .text("{{system.0}},{{system.1}}");

    {% elif system.0|addition:system.1|mod:10 == 2 %}

      g.append("image")
        .attr("xlink:href", "/static/map/s2.png")
        .attr("x", ({{system.0}}-.085))
        .attr("y", ({{system.1}}-.085))
        .attr("width", .17)
        .attr("height", .17)
        .append("title") // hover-over text
        .text("{{system.0}},{{system.1}}");

        {% elif system.0|addition:system.1|mod:10 == 3 %}

          g.append("image")
            .attr("xlink:href", "/static/map/s3.png")
            .attr("x", ({{system.0}}-.11))
            .attr("y", ({{system.1}}-.11))
            .attr("width", .22)
            .attr("height", .22)
            .append("title") // hover-over text
            .text("{{system.0}},{{system.1}}");

            {% elif system.0|addition:system.1|mod:10 == 4 %}

              g.append("image")
                .attr("xlink:href", "/static/map/s4.png")
                .attr("x", ({{system.0}}-.075))
                .attr("y", ({{system.1}}-.075))
                .attr("width", .15)
                .attr("height", .15)
                .append("title") // hover-over text
                .text("{{system.0}},{{system.1}}");

                {% elif system.0|addition:system.1|mod:10 == 5 %}

                  g.append("image")
                    .attr("xlink:href", "/static/map/s5.png")
                    .attr("x", ({{system.0}}-.09))
                    .attr("y", ({{system.1}}-.09))
                    .attr("width", .18)
                    .attr("height", .18)
                    .append("title") // hover-over text
                    .text("{{system.0}},{{system.1}}");

                    {% elif system.0|addition:system.1|mod:10 == 6 %}

                      g.append("image")
                        .attr("xlink:href", "/static/map/s1.png")
                        .attr("x", ({{system.0}}-.09))
                        .attr("y", ({{system.1}}-.09))
                        .attr("width", .18)
                        .attr("height", .18)
                        .append("title") // hover-over text
                        .text("{{system.0}},{{system.1}}");

                        {% elif system.0|addition:system.1|mod:10 == 7 %}

                          g.append("image")
                            .attr("xlink:href", "/static/map/s2.png")
                            .attr("x", ({{system.0}}-.095))
                            .attr("y", ({{system.1}}-.095))
                            .attr("width", .19)
                            .attr("height", .19)
                            .append("title") // hover-over text
                            .text("{{system.0}},{{system.1}}");

                            {% elif system.0|addition:system.1|mod:10 == 8 %}

                              g.append("image")
                                .attr("xlink:href", "/static/map/s3.png")
                                .attr("x", ({{system.0}}-.09))
                                .attr("y", ({{system.1}}-.09))
                                .attr("width", .18)
                                .attr("height", .18)
                                .append("title") // hover-over text
                                .text("{{system.0}},{{system.1}}");

                                {% elif system.0|addition:system.1|mod:10 == 9 %}

                                  g.append("image")
                                    .attr("xlink:href", "/static/map/s4.png")
                                    .attr("x", ({{system.0}}-.085))
                                    .attr("y", ({{system.1}}-.085))
                                    .attr("width", .16)
                                    .attr("height", .16)
                                    .append("title") // hover-over text
                                    .text("{{system.0}},{{system.1}}");

                                    {% elif system.0|addition:system.1|mod:10 == 0 %}

                                      g.append("image")
                                        .attr("xlink:href", "/static/map/s5.png")
                                        .attr("x", ({{system.0}}-.105))
                                        .attr("y", ({{system.1}}-.105))
                                        .attr("width", .21)
                                        .attr("height", .21)
                                        .append("title") // hover-over text
                                        .text("{{system.0}},{{system.1}}");

{% endif %}

  g.append("text")
    .attr("x", {{system.0}})
    .attr("y", ({{system.1}})+.11)
    .attr("font-family", "sans-serif")
    .attr("font-size", "0.01px")
    .attr("fill", "white")
    .attr("text-anchor", "middle") // horizontal centering
    .attr("allignment-baseline", "after-edge") // vertical centering
    .style("pointer-events", "none")
    .style("visibility", "hidden") // changes in zoom
    .text("{{system.0}},{{system.1}}");
{% endfor %}

/* Add coordinate numbers to top/bottom/sides */
for (let i = 0; i < width; i=i+5) {
    g.append("text")
        .attr("x", i)
        .attr("y", 0)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
    g.append("text")
        .attr("x", i)
        .attr("y", height)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
}
for (let i = 0; i < height; i=i+5) {
    g.append("text")
        .attr("x", 0)
        .attr("y", i)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
    g.append("text")
        .attr("x", width)
        .attr("y", i)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1")
        .attr("fill", "yellow")
        .attr("text-anchor", "middle") // horizontal centering
        .attr("dominant-baseline", "central") // vertical centering
        .style("pointer-events", "none")
        .style("visibility", "hidden") // changes in zoom
        .text(i.toString())
}


 svg.call(zoom);

  function reset() {
    svg.transition().duration(750).call(
      zoom.transform,
      d3.zoomIdentity,
      d3.zoomTransform(svg.node()).invert([width / 2, height / 2])
    );
  }


  function clicked(d,i) {
    //const [[x0, y0], [x1, y1]] = path.bounds(d);
    console.log(d); // coming back as undefined for circles
    console.log(i); // come back as 0 for every circle
    d3.event.stopPropagation();
    svg.transition().duration(750).call(
      zoom.transform,
      d3.zoomIdentity
        .translate(width / 2, height / 2)
        .scale(Math.min(8, 0.9 / Math.max(circle_radius / width, circle_radius / height)))
        .translate(-width, -height),
      d3.mouse(svg.node())
    );
  }


  function zoomed() {
    const {transform} = d3.event;
    g.attr("transform", transform);
    g.attr("stroke-width", 1 / transform.k);
    if (transform.k > 50) {
         g.selectAll("circle")
             {% if planet.portal and planet.owner.id == status.user.id %}
           .attr("r", circle_radius*(.1+{{research_percent_portals}}/100))
           {% else %}
           .attr("r", circle_radius*.1)
           {% endif %}
         g.selectAll("text")
           .style("visibility", "visible");
     } else {
         g.selectAll("circle")
           .attr("rx", circle_radius*1)
           .attr("ry", circle_radius*1)
           .attr("r", circle_radius*1)
         g.selectAll("text")
           .style("visibility", "hidden");
    }
  }



</script>


{% endblock %}
