{% extends "base.html" %}

{% load static %}

{% block content %}
<br>

<table>
<tr>
<td >Outbox</td>
<td style=" border-left:solid 40px transparent"> Compose a message</td>
<td style=" border-left:solid 40px transparent">Delete all</td>
</tr>
</table>

<table width = "80%">
{% for message in messages_from %}
<tr><td align="left"><b>From:</b> {{message.user1.user_name}} of Empire #{{message.user1.empire.number}} </td><td align ="right"><a href="/delete">Delete</a></td><br>
<tr><td align="left"><b>Received:</b> {{message.date_and_time}}</td> <td align ="right"><a href="/reply">Reply</a></td></tr>
<tr><td align="left">{{message.message}}</td></tr>
<tr><td><br></td></tr>
{% endfor %}
</table>


{% endblock %}