{% extends "base.html" %}

{% load static %}

{% block content %}
<br>

<table align="center">
<tr>
<td><a href="/outbox">Outbox</a></td>
<td style=" border-left:solid 40px transparent"><a href="/compose_message">Compose a message</a></td>
<td style=" border-left:solid 40px transparent"><a href="/delete_all_messages_inbox">Delete all messages</a></td>
</tr>
</table>
<br>

<table width = "80%" align="center">
{% for message in messages_from %}
<tr><td align="left"><b>From:</b> {{message.user1.user_name}} of <a href="/empire{{message.user1.empire.id}}">Empire #{{message.user1.empire.number}}</a> 
</td><td align ="right"><a href="/delete_message_inbox{{message.id}}">Delete</a></td>

<tr><td align="left"><b>Received:</b> {{message.date_and_time}}</td> <td align ="right"><a href="/compose_message{{message.user1_id}}">Reply</a></td></tr>
<tr><td align="left">{{message.message}}</td></tr>
<tr><td><br></td></tr>
{% endfor %}
</table>


{% endblock %}