
{% load mathfilters %}

{% block content %}
<br>
	{% for n in news %}	
		<i>Week {{ n.tick_number|intdiv:52 }}, year {{ n.tick_number|mod:52 }}</i><br>
		{% if n.news_type == 'SE' %}
			Your exploration ship reached the <a href="/planet{{n.planet.id}}">planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}</a> and established a colony.
			<br><br>
		{% endif %}
		{% if n.news_type == 'UE' %}
			Your exploration ship reached the <a href="/planet{{n.planet.id}}">planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}</a>,
			but the planet was already habited. The ship is now awaiting your orders in this solar system.
			<br><br>
		{% endif %}
		{% if n.news_type == 'MS' %}
			You sent a message to {{n.user2.userstatus.user_name}}.
			<br><br>
		{% endif %}
		{% if n.news_type == 'MR' %}
			You received a message from {{n.user2.userstatus.user_name}}.
			<br><br>
		{% endif %}
		{% if n.news_type == 'RA' %}
			{{n.user1}} has requested an aid shipment of {{n.extra_info}} from you.
			<br><br>
		{% endif %}
		{% if n.news_type == 'SI' %}
			{{n.user1}} has sent you an aid shipment of {{n.extra_info}}.
			<br><br>
		{% endif %}
		{% if n.news_type == 'BB' %}
			{{ n.extra_info|linebreaksbr }}
			<br><br>
		{% endif %}
		{% if n.news_type == 'UB' %}
			{{ n.extra_info|linebreaksbr }}
			<br><br>
		{% endif %}
		{% if n.news_type == 'FJ' %}
			{{ n.extra_info|linebreaksbr }}
			<br><br>
		{% endif %}
		{% if n.news_type == 'PD' %}
			{% if n.user1 == n.user2 %}
				You have perfomed {{n.fleet1}} with the following results:{{ n.extra_info|linebreaksbr}}
			{% else %}
				You were a target of {{ n.fleet1 }} spell 
					{% if n.user1 == 0 %}
						performed by unknown faction! 
					{% else %}
						performed by {{n.user2}}! 
					{% endif %}
					With the following results: {{ n.extra_info|linebreaksbr}}
			{% endif %}
			<br><br>
		{% endif %}
		{% if n.news_type == 'PA' %}
			Your psychics have casted a {{n.fleet1}} spell on {{n.user2}} with the following results: {{ n.extra_info|linebreaksbr}}
			<br><br>
		{% endif %}
		{% if n.news_type == 'SA' %}
			You have attacked and took control of the planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}} 
				previously owned by {{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
			<br><br>
		{% endif %}
		{% if n.news_type == 'UA' %}
			You have attacked and failed to capture the planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}} 
				owned by {{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
			<br><br>
		{% endif %}
		{% if n.news_type == 'SD' %}
			The planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}}, was unsuccessfully attacked by
				 {{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
			<br><br>
		{% endif %}
		{% if n.news_type == 'UD' %}
			You have lost the planet {{n.planet.x}},{{n.planet.y}}:{{n.planet.i}} 
				to {{n.user2.userstatus.user_name}} from {{n.empire2.name_with_id}}!
			<br><br>
		{% endif %}
		{% if n.news_type == 'FS' %}
			Your fleet consitsting of: {{n.fleet1}} 
			has reached its destination and {{n.extra_info}}
			<br><br>
		{% endif %}
		{% if n.news_type == 'FU' %}
			Your fleet consitsting of: {{n.fleet1}} 
			has reached its destination and {{n.extra_info}}
			<br><br>
		{% endif %}
		{% if n.news_type == 'FM' %}
			{{n.extra_info}}
			<br><br>
		{% endif %}
	
	
	{% endfor %}

{% endblock %}