{% extends "base.html" %}

{% load static %}

{% block content %}

<table width="100%">
<tr>
<td width="15%"><a href="?order_by=planet">Planet</a></td>
<td width="10%"><a href="?order_by=-size">Size</a> - 
<style>
.dropbtn {  background-color: #4CAF50;  color: white;  font-size: 12px;  border: none;  padding: 0px;}
.dropdown {  position: relative;  display: inline-block;}
.dropdown-content {  display: none;  position: absolute;  background-color: #f1f1f1;  min-width: 160px;  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  z-index: 1;}
.dropdown-content a {  color: black;  padding: 12px 16px;  text-decoration: none;  display: block;}
.dropdown-content a:hover {background-color: #ddd;}.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<div class="dropdown"><button class="dropbtn" disabled>Bonus</button>
<div class="dropdown-content">
<a href="?order_by=-bonus_solar">Solar</a>
<a href="?order_by=-bonus_mineral">Mineral</a>
<a href="?order_by=-bonus_crystal">Crystal</a>
<a href="?order_by=-bonus_ectrolium">Ectrolium</a>
<a href="?order_by=fission">Fission</a>
<a href="?order_by=ancient">Ancient</a>
<a href="?order_by=bonus_all">All</a>
<a href="?order_by=bonus_none">None</a></div></div>
<td width="20%"><a href="?order_by=total_buildings">Buildings</a> - <a href="?order_by=overbuilt">Overbuilding</a></td>
<td width="25%"><a href="?order_by=current_population">Population</a></td>
<td width="28%">Build - <a href="?order_by=protection">Protection</a></td>
<td width="2%"><div class="href" onclick="javascript:toggle_form('mass_build');"><font size="1">Toggle</font></div></td>
</tr>


{% for planet in planets %}
<tr>
<td><a href="/planet{{planet.id}}">{{planet.x}},{{planet.y}}:{{planet.i}}</a></td>
<td>{{planet.size}}</td>
<td>{{planet.total_buildings}} 

{% if planet.buildings_under_construction > 0 %}
({{planet.buildings_under_construction}})
{% endif %}

{% if planet.overbuilt > 1.0 %}
<font color="#FF2020">
+{{ planet.overbuilt_percent|floatformat:2 }}%
</font></td>
{% endif %}

<td><font color="#FFFF66">{{planet.current_population}} / {{planet.max_population}}</font></td>
<td><a href="/build{{planet.id}}">Build</a>   
{% if planet.portal %}
&nbsp;&nbsp;Contains Portal
{% else %}
    {% if planet.protection >= 70 %}
    &nbsp;&nbsp;<font color="#00FF00">{{planet.protection}}%</font> 
    {% elif planet.protection >= 40 %}
    &nbsp;&nbsp;<font color="#FFFF00">{{planet.protection}}%</font> 
    {% else %}
    &nbsp;&nbsp;<font color="#FF0000">{{planet.protection}}%</font> 
    {% endif %}
{% endif %}

{% if planet.bonus_solar %}
<img src="{% static 'pr0.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_solar}}%</td>
{% endif %}

{% if planet.bonus_mineral %}
<img src="{% static 'pr1.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_mineral}}%</td>
{% endif %}

{% if planet.bonus_crystal %}
<img src="{% static 'pr2.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_crystal}}%</td>
{% endif %}

{% if planet.bonus_ectrolium %}
<img src="{% static 'pr3.gif' %}" alt="Solar" title="Solar">+{{planet.bonus_ectrolium}}%</td>
{% endif %}

<td align="center"><input type="checkbox" name="m4298"></td>
</tr>
{% endfor %}
</table>

{% endblock %}

