{% extends "base.html" %}

{% load static %}

{% block content %}

Message from your leader:<br>
{{empire.relations_message}}
<br>
<table align="center" style= "border-spacing: 10px; border-collapse: separate;" } >

{% for relation in relations_from_empire %}
	{% if relation.relation_type == 'AO' %}
	<tr><td>You offered an empire {{relation.empire2.name_with_id}} an alliance!</td></tr>
	{% endif %}
	{% if relation.relation_type == 'A' %}
	<tr><td>You have an alliance with empire {{relation.empire2.name_with_id}}!</td></tr>
	{% endif %}
	{% if relation.relation_type == 'W' %}
	<tr><td>You have declared war on {{relation.empire2.name_with_id}}!</td></tr>
	<tr><td>It will last for another {{relation.relation_remaining_time}} ticks!</td></tr>
	{% endif %}
	{% if relation.relation_type == 'NO' %}
		{% if relation.relation_length > 0 %}
		<tr><td>You offered an empire {{relation.empire2.name_with_id}} a {{relation.relation_length}} hour
		non - agression pact!</td></tr>
		{% else %}
		<tr><td>You offered an empire {{relation.empire2.name_with_id}} a permanent
		non - agression pact!</td></tr>
		{% endif %}
	{% endif %}
	{% if relation.relation_type == 'N' %}
		{% if relation.relation_length > 0 %}
		<tr><td>You have a {{relation.relation_length}} hour non - agression pact 
		with {{relation.empire2.name_with_id}} !</td></tr>
		{% else %}
		<tr><td>You have a permanent non - agression pact with {{relation.empire2.name_with_id}} !</td></tr>
		{% endif %}
	{% endif %}
	{% if relation.relation_type == 'NC' %}
		<tr><td>Non-agression pact with  {{relation.empire2.name_with_id}} was canceled!
			It will last for another {{relation.relation_remaining_time}} hours!</td></tr>
	{% endif %}
{% endfor %}
<tr></tr>
{% for relation in relations_to_empire %}
	{% if relation.relation_type == 'AO' %}
	<tr><td>Empire {{relation.empire1.name_with_id}} has offered you an alliance!</td></tr>
	{% endif %}
	{% if relation.relation_type == 'W' %}
	<tr><td>Empire {{relation.empire1.name_with_id}} has declared war!</td></tr>
	<tr><td>It will last for another {{relation.relation_length}} ticks!</td></tr>
	{% endif %}
	{% if relation.relation_type == 'NO' %}
		{% if relation.relation_length > 0 %}
		<tr><td>An empire {{relation.empire1.name_with_id}} has offered a {{relation.relation_length}} hour
		non - agression pact!</td></tr>
		{% else %}
		<tr><td>An empire {{relation.empire1.name_with_id}} has offered a permanent
		non - agression pact!</td></tr>
		{% endif %}
	{% endif %}
{% endfor %}
</table>
{% endblock %}