{% extends "base.html" %}

{% load static %}

{% block content %}

<table style="width:100%">
<tbody>
<tr>
<td style="width:20%">Planet:</td>
<td style="width:20%">Size:</td>
<td style="width:20%">Bonus:</td>
<td style="width:40%">Status:</td>
</tr>
<tr>
{% for scouting in scouted %}
{% if scouting.scout >= 1 %}
<td><a href="/scouting.planet{{scouting.planet.id}}">{{scouting.planet.x}},{{scouting.planet.y}}:{{scouting.planet.i}}</a></td>
<td>{{scouting.planet.size}}</td>
<td>{% if scouting.planet.bonus_solar %}
<img src="{% static 'pr0.gif' %}" alt="Solar" title="Solar">+{{scouting.scouting.planet.bonus_solar}}%</td>
{% endif %}

{% if scouting.scouting.planet.bonus_mineral %}
<img src="{% static 'pr1.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_mineral}}%</td>
{% endif %}

{% if scouting.planet.bonus_crystal %}
<img src="{% static 'pr2.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_crystal}}%</td>
{% endif %}

{% if scouting.planet.bonus_ectrolium %}
<img src="{% static 'pr3.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_ectrolium}}%</td>
{% endif %}
<td> {% if scouting.planet.owner == None %}
<font color="#00FF00">Unexplored</font></td>
{% elif scouting.planet.owner.id == status.user.id %}
<font color="#FFFF00">{{scouting.planet.owner.userstatus.user_name}}</font></td>
{% else %}
<font color="#FF0000">{{scouting.planet.owner.userstatus.user_name}}</font></td>
{% endif %}
</tr>
{% elif scouting.scout >= 0.5 %}
<td><a href="/scouting.planet{{scouting.planet.id}}">!{{scouting.planet.x}},{{scouting.planet.y}}:{{scouting.planet.i}}</a></td>
<td>{{scouting.planet.size}}</td>
<td>{% if scouting.planet.bonus_solar %}
<img src="{% static 'pr0.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_solar}}%</td>
{% endif %}

{% if scouting.planet.bonus_mineral %}
<img src="{% static 'pr1.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_mineral}}%</td>
{% endif %}

{% if scouting.planet.bonus_crystal %}
<img src="{% static 'pr2.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_crystal}}%</td>
{% endif %}

{% if scouting.planet.bonus_ectrolium %}
<img src="{% static 'pr3.gif' %}" alt="Solar" title="Solar">+{{scouting.planet.bonus_ectrolium}}%</td>
{% endif %}
<td> {% if scouting.planet.owner == None %}
<font color="#00FF00">Unexplored</font></td>
{% elif scouting.planet.owner.id == status.user.id %}
<font color="#FFFF00">{{scouting.planet.owner.userstatus.user_name}}</font></td>
{% else %}
<font color="#FF0000">{{scouting.planet.owner.userstatus.user_name}}</font></td>
{% endif %}
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>


{% endblock %}
