{% extends "base.html" %}

{% load static %}

{% block content %}



{% if msg != '' %}
	{{msg}}
	<br>
	<br>
{% endif %}

<style>
.border_agent { 
position:relative;
display:inline-block;
box-sizing: border-box;
border: 25px solid transparent;
border-image-slice:100% 100% 100% 100%;
border-image: url("../static/units/agent_ops2.png") 500 ;
width:100%;
margin-bottom: 25px;
}

.border_psyhic { 
position:relative;
display:inline-block;
box-sizing: border-box;
border: 25px solid transparent;
border-image-slice:100% 100% 100% 100%;
border-image: url("../static/units/psy_ops.png") 500 ;
width:100%;
margin-bottom: 25px;
}

.border_ghost { 
position:relative;
display:inline-block;
box-sizing: border-box;
border: 25px solid transparent;
border-image-slice:100% 100% 100% 100%;
border-image: url("../static/units/gs_ops.png") 500 ;
width:100%;
}

.ops_box{
box-sizing: border-box;
width: 50%; 
margin:0 auto;
float:left; 
text-align:left;
padding-left: 15%;
}

.ops_box2{
box-sizing: border-box;
width: 50%; 
margin:0 auto;
float:right; 
text-align:left;
padding-right: 15%;

}

.hidden{
display: none;
}

.centered2 {
    position:relative;
    top:-20px;
}

.remove-all-styles {
    all: revert;
  }
  


}
</style>

<script>
function yesnoCheck() {
	{% for name, values in spells.items  %}
		if (document.getElementById('{{values.4}}').checked) {
			document.getElementById('spell_{{values.4}}').style.display = 'inline';
			
			if (document.getElementById('hidden_values{{ values.4 }}').value == "False" ) {
				document.getElementById('target_user_psy').style.visibility = 'visible';
			}
			else document.getElementById('target_user_psy').style.visibility = 'hidden';
			
		}
		else document.getElementById('spell_{{values.4}}').style.display = 'none';
	{% endfor %}


}
</script>


<div  class ="border_agent"  >
<div class="centered2"><h3>Operations</h3></div>
	<div class="ops_box">
	Agents ammount: {{main_fleet.agent}}
	<br>
		<form action="/specops" method="POST">
		{% csrf_token %}
			{% for o in operations %}
			<input type="radio" id="{{ o }}" name="operation" value="{{ o }}">
			<label class="remove-all-styles">{{ o }}</label>
			{% endfor %}
			<br>
			<input type="submit" value="Perform">
		</form> 
	</div>
	<div class="ops_box2">
		planet coords
	</div>
</div>
<br><br>

<div class="border_psyhic" >
<div class="centered2"><h3>Spells</h3></div>
	<div class="ops_box">
	Psychics ammount: {{main_fleet.wizard}}
	<br>
		<form action="/specops" method="POST">
		{% csrf_token %}
			{% for name, values in spells.items  %}
			<input type="radio" id="{{ values.4 }}" name="spell" value="{{ name }}" onclick="yesnoCheck()">
			<input type="hidden" id="hidden_values{{ values.4 }}" value="{{ values.3 }}">
			<label class="remove-all-styles" >{{ name }}</label>
			<br>
			{% endfor %}
			units to send:
			<input type="number" min="0" max="{{main_fleet.wizard}}" name="unit_ammount" size="12" />
			<div id="target_user_psy">
				user name/id:
				<input type="text" name="user_id2" size="12"  />
			</div>
			<input type="submit" value="Perform">
		</form> 
	</div>
	<div id="dvtext" class="ops_box2">
			{% for name, values in spells.items  %}
				<div id="spell_{{values.4}}" class="hidden" > 
				Spell name: {{name}}<br>
				Technology required: {{values.0}}<br>
				Psychics readiness cost: {{values.1}}<br>
				Difficulty: {{values.2}}<br>
				Self-spell: {{values.3}}<br>
				Description: {{values.5}}
				</div>
			{% endfor %}
	</div>
</div>
<br><br>

<div class="border_ghost" >
<div class="centered2"><h3>Incantations</h3></div>
	<div class="ops_box">
	Ghost ships ammount: {{main_fleet.ghost}}
	<br>
		<form action="/specops" method="POST">
		{% csrf_token %}
			{% for i in incantations %}
			<input type="radio" id="{{ i }}" name="inca" value="{{ i }}">
			<label class="remove-all-styles" >{{ i }}</label>
			<br>
			{% endfor %}
			<input type="submit" value="Perform">
		</form> 
	</div>
	<div class="ops_box2">
		planet coords
	</div>
</div>
<br><br>


{% endblock %}