{% extends "base.html" %}

{% load static %}

{% block content %}

{% if msg %}
    <br>
    {{msg|safe}}
    <br>
{% endif %}

<form action="/units" method="POST">
{% csrf_token %}
<table cellspacing="0" cellpadding="0" width="90%" border="0" align="center"><tr><td width="7" background="files?type=image&amp;name=i38.jpg">&nbsp;</td>
<td bgcolor="#0b1119" align="center">
<br>
<a href="info?2fix&amp;type=units&amp;request=ajax" rel="ajaxpanel" data-loadtype="ajax">Build Units</a>
<br>
<form action="units?2fix" method="POST"><table cellspacing="6" border="0">
<tr>
<th style="padding:10px"><b>Unit</b></td>
<th style="padding:10px"><b>Cost</b></td>
<th style="padding:10px"><b>Owned</b></td>
<th style="padding:10px"><b>Build</b></td>
</tr>
{% for unit in unit_dict %}
    {% if unit.cost == None %}
        <tr>
        <td style="padding:10px" valign="top"><font color="#FFFFFF">{{unit.label}}</font></td>
        <td style="padding:10px" valign="top" nowrap><font color="#FF0000">Unavailable<br>Tech too low</font></td>
        <td style="padding:10px" valign="top" align="center">{{unit.owned}}</td>
        <td style="padding:10px" valign="top">&nbsp;</td>
        </tr>
    {% else %}
        <tr>
        <td style="padding:10px" valign="top"><font color="#FFFFFF">{{unit.label}}</font></td>
        <td style="padding:10px" valign="top" nowrap>
        {% for resource in unit.cost %}
            {% if resource.value > 0 %}
                {{resource.value}} {{resource.name}} <br>
            {% endif %}
        {% endfor %}
        {% if unit.penalty > 0 %}
            <font color="#FF2020">Tech : +{{unit.penalty}}% costs</font><br>
        {% endif %}
        </td>
        <td style="padding:10px" valign="top" align="center">{{unit.owned}}</td>
        <td style="padding:10px" valign="top"><input type="text" pattern="[0-9]+" maxlength="9" name="{{unit.i}}" size="12"></td>
        </tr>
    {% endif %}
{% endfor %}
</table>
<input type="submit" value="Build">
</form>
{% endblock %}

